* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

#header {
    padding: 30px 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: header .4s alternate;
}

@keyframes header {
    0% {
        transform: translateY(-1200px);
        opacity: .1;
    }
    50% {
        opacity: .5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.nav {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #222222;
    cursor: pointer;
    transition: .4s;
}

.nav:hover {
    color: #0082F3;
    transform: scale(1.1);
}

#hero {
    padding-right: 100px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-tit1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 55px;
    color: #333333;
    margin-bottom: 30px;
}

.hero-tit2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
    margin-bottom: 25px;
}

.hero-icons {
    width: 150px;
    height: 50px;
    background: #EEEAFF;
    border-radius: 5px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-par {
    display: flex;
}

.icon-par h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #000000;
}

.icon-par-h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #582EFF;
}

.hero img {
    animation: hero-img .4s alternate;
}

@keyframes hero-img {
    0% {
        transform: translateX(1200px);
        opacity: .1;
    }
    50% {
        opacity: .5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero-icons {
    display: flex;
    justify-content: space-around;
}

.icon {
    font-size: 26px;
}

#save {
    padding-top: 100px;
}

.save {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save-h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #333333;
    margin-bottom: 35px;
}

.save-h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
    margin-bottom: 25px;
}

#how {
    padding-top: 100px;
}

.how-tit {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    color: #333333;
    margin-bottom: 30px;
}

.swiper {
    width: 288px;
    height: 327px;
    padding: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 327px;
}

.swiper-dv1 {
    width: 100%;
    height: 12px;
    background: #582EFF;
}

.swiper-dv2 {
    width: 100%;
    height: 12px;
    background: #FF814A;
}

.swiper-dv3 {
    width: 100%;
    height: 12px;
    background: #31C5A1;
}

.swiper-slide img {
    padding-left: 120px;
    padding-top: 30px;
    margin-bottom: 40px;
}

.swiper-slide h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    text-align: center;
    margin-bottom: 35px;
}

.swiper-slide h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    text-align: center;
    margin-bottom: 35px;
}

#get {
    background: #31C5A1;
    padding-top: 100px;
    padding-bottom: 80px;
}

.get {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-tit {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.get-icon {
    color: #31C5A1;
}

.get-icons {
    font-size: 26px;
    color: #31C5A1;
}

#footer {
    padding-top: 100px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #333333;
    margin-bottom: 15px;
}
